<div class="container mt-3">
  <h1>Your Lists</h1>
  <div class="new-list btn btn-light mb-3"><%= link_to "âœ Make A New List", new_list_path(@list) %></div>
  <div class="cards mb-3">
    <% @lists.each do |list| %>
      <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
        <h2><%= link_to list.name, list_path(list) %></h2>
      </div>
    <% end %>
  </div>
</div>
